<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/flash' %>
    <% if controller_name == "home" %>
      <%= render 'layouts/navbar' %>
      <div id="main-content">
        <%= yield %>
      </div>
      <%= render template: 'appointments/new' %>
    	<%= render 'layouts/footer' %>
    <% else %>

      <%= yield %>
    
    <% end %>
  </body>
</html>
